body{
    padding: 0;
    margin: 0;
    background-image: url(images/mountains-morning-snow-rock-mountain-landscape.png);
background-size: cover;

}
a{
  text-decoration: none; 
  padding-left: 50px;
  text-decoration: white;
  

   
}
.anchatag{
    margin-left: 700px;
color: #FFFFFF;
margin-top: 19px;


    


}
#tttt{
    display: flex;
    height: 70px;
    
    border-bottom:1px solid white ;

}
img{
    width: 100px;
    height: 24px;
margin-top: 19px;
margin-left: 90px;
}
#content{
    color: #FFFFFF;
    font-size: 40px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     text-align: center;
     margin-top: 170px;
    }
.sub{
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;

}
.first{
    border-radius:  180px;
    margin-left: 530px;
    margin-top: 40px;
    height: 46px;
    width: 150px;
}
.clean{
    color: #FFFFFF;
}
.second{

    background: none;
    color:#FFFFFF;
    border: none;
}
#id img{
    margin-left: 30px;
    height: 35px;
width: 35px;
margin-bottom: 15px;

}
#divkabaap{
    gap: 05px;
    
    display: flex;
}
#id{
    
    height: 100px;
    margin: 30px 0px 0 0;
}
