body{
    padding: 0;
    margin: 0;
    background-image: url(images/mountains-morning-snow-rock-mountain-landscape.png);
background-size: cover;

}
a{
  text-decoration: none; 
  padding-left: 50px;
  

   
}
.anchatag{
    margin-left: 700px;

    


}
#tttt{
    display: flex;

}
